{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "printWidth": 120,
  "tabWidth": 4,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "arrowParens": "always"
}
